<head>
    <script src="/js/home.js"></script>
</head>

<div id="home-body">
    {{>header-home}}
    <main id="home-main">
        <span>Sök efter Recept</span>
        <form action="/search" method="get" id="search-form">
            <i class="fas fa-search" id="search-icon"></i>
            <input type="text" name="search" id="search-bar" />
            <input type="submit" />
        </form>
    </main>
    {{>footer-home }}
</div>
