<div id="home-body">
    {{>header-home}}
    <main id="home-main">
        <span>Oj! Du hittade en sida som inte finns.</span>
        <button id="not-found-button" onclick="window.history.back()">
            Gå tillbaka
        </button>
    </main>
    {{>footer-home }}
</div>
