<div id="create-user-bigContainer">
  {{>header-home}}
  <div class="user-create-big-container">
    <div class="user-create-big-container-two">

      <div class="user-create-heading-container">
        <h2 class="user-create-h2">Bli medlem!</h2>
        <h3 class="user-create-h3">Skapa konto här</h3>
      </div>

      {{!-- INPUT DIV STARTS HERE --}}
      <div class="create-user-input-container">
        <div class="user-create-inputfield-large-container">
          <form action="/users/create" method="POST">
            <div class="user-create-label-input">
              <label for="uname">Användarnamn</label>
              <input type="text" name="username" placeholder="Användarnamn" required class="create-user-input" />
            </div>
            <div class="user-create-label-input">
              <label for="pword">Lösenord</label>
              <input type="password" name="password" placeholder="Lösenord" required class="create-user-input" />
            </div>
            <div class="user-create-label-input">
              <label for="pword">Bekräfta lösenord</label>
              <input type="password" name="confirmPassword" placeholder="Bekräfta lösenord" required
                class="create-user-input " />
            </div>
        </div>

        {{!-- INPUT DIV 2 STARTS HERE --}}
        <div class="create-user-input-container2">
          <div class="user-create-label-input">
            <label for="email">Mejladress</label>
            <input type="text" name="email" placeholder="Mejladress" required class="create-user-input" />
          </div>
          <div class="user-create-label-input">
            <label for="email">Bekräfta mejladress</label>
            <input type="text" name="confirmemail" placeholder="Bekräfta mejladress" required
              class="create-user-input" />
          </div>
          <input type="submit" value="Registrera" class="user-create-btn" />
        </div>
        </form>
      </div>
      <div class="google-login">
        <a href="/users/login/google"><i class="fab fa-google"></i></a>
      </div>
    </div>
  </div>

</div>