<h2>Get started</h2>

<h3>Create a Account</h3>

<form action="/users/create" method="POST">
  <input type="text" name="username" placeholder="Username" />
  <br />
  <input type="password" name="password" placeholder="Password" />
  <br />
  <input
    type="password"
    name="confirmpassword"
    placeholder="Confirm password"
  />
  <br />

  <input type="text" name="email" placeholder="Email" />
  <br />
  <input type="text" name="confirmemail" placeholder="Confirm email" />
  <br />
  <input type="submit" value="Register" />

</form>