<footer>
    <span>Authors</span>
    <div class="underline"></div>
    <div id="authors">
        <a href="https://www.linkedin.com/in/malcolm-lindberg-b6585b191/"
            ><span>Malcolm Lindberg</span></a
        >
        <a href="https://www.linkedin.com/in/ludvig-thunberg-9483ab221/"
            ><span>Ludvig Thunberg</span></a
        >
        <a href="https://www.linkedin.com/in/elias-fredriksson-2b9352186/"
            ><span>Elias Fredriksson</span></a
        >
    </div>
</footer>
