@keyframes pulsating {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2) translateY(-5px);
    }
    100% {
        transform: scale(1);
    }
}

#create-recipe-body {
    flex-grow: 1;
    background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;

    main {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        #wrapper {
            width: 70%;
            height: 100%;
            padding: 10px;
            margin-bottom: 40px;

            display: flex;
            flex-direction: column;
            gap: 10px;

            #new-recipe-form {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 10px;

                #input-fields {
                    flex-grow: 1;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    min-height: 80%;

                    #form-left,
                    #form-right {
                        padding: 10px;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 45%;
                        border-radius: 10px;
                        box-shadow: 0px 0px 10px rgb(144, 144, 144);
                    }

                    #form-left {
                        #submit-recipe-form {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            gap: 10px;

                            label {
                                font-size: 0.8em;
                            }

                            input,
                            textarea {
                                padding: 5px;
                            }
                            input:focus,
                            textarea:focus {
                                outline: none;
                            }

                            textarea {
                                resize: none;
                                flex-grow: 1;
                            }

                            #submit-recipe {
                                position: absolute;
                                bottom: 10px;
                                right: 15%;

                                font-size: 1.2em;
                                width: 200px;
                                border: 1px solid rgb(123, 123, 123);
                                padding: 5px;
                                cursor: pointer;
                                transition: 0.2s ease;
                                border-radius: 3px;

                                &:hover {
                                    background-color: rgb(113, 113, 113);
                                    color: white;
                                    transform: scale(1.1);
                                }
                                &:active {
                                    background-color: rgb(79, 79, 79);
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                    #form-right {
                        #add-ingredient-form {
                            width: 100%;
                            display: flex;
                            gap: 5px;
                            div {
                                min-width: 0;
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                label {
                                    font-size: 0.6em;
                                }
                                select {
                                    cursor: pointer;
                                }
                                input,
                                select {
                                    padding: 5px;
                                    font-size: 0.7em;
                                    flex-grow: 1;
                                }
                                input:focus,
                                select:focus {
                                    outline: none;
                                }
                            }

                            #ingredient-wrapper {
                                flex-grow: 1;
                            }
                            #amount-wrapper {
                                width: 50px;
                            }
                            #unit-wrapper {
                                width: 50px;
                            }
                            #category-wrapper {
                                width: 70px;
                            }
                        }
                        #add-ingredient {
                            width: 50px;
                            border: 1px solid rgb(123, 123, 123);
                            border-radius: 5px;
                            font-size: 1em;
                            cursor: pointer;
                            transition: 0.2s ease;
                            &:hover {
                                background-color: rgb(113, 113, 113);
                                color: white;
                                transform: scale(1.1);
                            }
                            &:active {
                                background-color: rgb(79, 79, 79);
                                transform: scale(1.05);
                            }
                        }
                        .hr {
                            width: 100%;
                            height: 2px;
                            background-color: rgb(144, 135, 125);
                        }
                        #current-ingredients {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            flex-grow: 1;
                            .ingredient {
                                background-color: rgb(233, 224, 203);
                                border-radius: 5px;
                                padding: 5px;

                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .fas {
                                    width: 22px;
                                    height: 22px;
                                    background-color: white;

                                    border-radius: 4px;
                                    color: rgb(108, 100, 84);
                                    font-size: 0.8em;
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.2s ease;

                                    &:hover {
                                        background-color: rgb(144, 135, 125);
                                        color: white;
                                        transform: scale(1.2);
                                    }
                                }

                                span {
                                    font-size: 0.8em;
                                }
                            }

                            #empty-ingredients-message {
                                flex-grow: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: rgb(122, 118, 111);
                            }
                            .pulsating {
                                animation: pulsating 0.5s ease-in-out infinite;
                            }
                        }
                    }
                }
            }

            #title {
                font-size: 1.8em;
            }
        }
    }
}
