footer {
    background-color: rgba($color: #fff, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    & > span {
        color: white;
        text-shadow: 0 0 10px black;
        padding-top: 10px;
    }
    .underline {
        height: 2px;
        width: 10%;
        background-color: white;
        box-shadow: 0 0 10px black;
    }
    #authors {
        display: flex;
        align-items: center;
        font-size: 1.3em;
        color: white;
        text-shadow: 0 0 10px black;
        & > span {
            margin-right: 20px;
        }
        a {
            color: white;
            text-decoration: none;
            transition: 200ms ease-in-out;
            padding: 20px;
            span {
                display: flex;
                transition: 200ms ease-in-out;
            }
            &:hover {
                box-shadow: rgb(255, 255, 255) 0px -50px 36px -28px inset;
                span {
                    transform: translateY(-3px);
                }
            }
        }
    }
}
