header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(206, 203, 194, 0.3);
  padding-left: 30px;
  .history-back {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #555555;
      color: white;
    }
    .fas {
      font-size: 1.3rem;
    }
  }
  h1 {
    margin-left: 30px;
  }
  .login-container {
    padding: 20px;
    margin-left: auto;
    form {
      .input-containers {
        display: flex;
        gap: 20px;
        .single-input-container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          label {
            font-size: 0.8rem;
          }
          input {
            /* border-radius: 10px; */
            padding: 5px;
          }
        }
      }
      .submit-button-link-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        a {
          font-size: 0.8rem;
          text-decoration: none;
          color: black;
          transition: all 0.5s ease;
          &:hover {
            font-weight: bold;
          }
        }
        .submit-button {
          cursor: pointer;
        }
      }
    }
  }
}
