header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(206, 203, 194, 0.3);
    padding-left: 30px;
    position: relative;
    .history-back {
        height: 35px;
        width: 35px;
        border: 1px solid rgb(111, 111, 111);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c4c4c4;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #555555;
            color: white;
        }
        .fas {
            font-size: 1.3rem;
        }
    }
    .logo {
        margin-left: 30px;
    }
    .login-container {
        padding: 20px;
        margin-left: auto;
        form {
            .input-containers {
                display: flex;
                gap: 20px;
                .single-input-container {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    label {
                        font-size: 0.8rem;
                    }
                    input {
                        /* border-radius: 10px; */
                        padding: 5px;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
            .submit-button-link-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: black;
                    transition: 200ms ease;
                    &:hover {
                        text-shadow: 0px 0px 1px black;
                        transform: scale(1.05);
                    }
                }
                .submit-button {
                    cursor: pointer;
                }
            }
        }
    }

    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        height: 100%;
        width: 36%;

        a {
            color: white;
            text-decoration: none;

            // flex-basis tells how each child should size it
            // self to the basis value. In this case, each child
            // should be 25% width of the parent.
            flex-basis: 25%;

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;

            transition: 200ms ease-in-out;
            span {
                transition: 200ms ease-in-out;
                font-size: 0.9em;
            }
        }

        a:hover {
            background-color: rgba($color: #fff, $alpha: 0.4);
            box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.4);

            span {
                transform: scale(1.1) translateY(-3px);
                text-shadow: 0px 0px 5px #404040;
            }
        }
    }
}
