#home-body {
    flex-grow: 1;
    background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            font-size: 3.3em;
            font-weight: lighter;
            margin-bottom: 20px;
        }

        form {
            width: 60%;
            display: flex;
            margin-bottom: 80px;
            position: relative;

            .fa-search {
                height: 100%;
                width: 70px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.6em;
            }

            #search-bar {
                font-size: 2em;
                font-family: "Arvo", serif;
                padding: 15px;
                flex-grow: 1;
                background-color: rgba($color: #fff, $alpha: 0.7);
                border: none;
                border-radius: 2px;
                content: "KSDJFSLDFKJ";
            }
            #search-bar:focus {
                outline: none;
            }
            input[type="submit"] {
                display: none;
            }
        }
    }
}
