#search-body {
    background-image: url("/assets/first.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    #inner-wrapper {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin: 20px;

        .no-hits {
            background-color: #7a7a7a32;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            border-radius: 5px;
            font-size: 1.8em;
            color: rgb(128, 117, 104);
        }

        #search-container-recipes {
            width: 65%;
            display: flex;
            flex-direction: column;
            background-color: #ecececd5;

            padding: 10px;
            border-radius: 5px;
            height: auto;

            .recipe {
                border-radius: 2px;
                padding: 10px;
                margin: 5px;

                background-color: rgb(255, 255, 255);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                box-shadow: grey 1px 1px 1px 1px;

                .name-wrapper {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 15px;
                    text-decoration: none;
                    color: black;
                    transition: 200ms ease;
                    border-radius: 0 5px 5px 0;

                    &:hover {
                        background-color: #faebdc;
                        & > div > span {
                            transform: scale(1.12) translateX(15px);
                        }
                    }

                    & > div {
                        display: flex;
                        span {
                            transition: 200ms ease;
                            font-size: 1em;
                            flex-grow: 1;
                        }
                    }
                }

                .chef-wrapper {
                    display: flex;
                    justify-content: space-between;
                    min-width: 110px;
                    align-items: center;
                    gap: 10px;
                    transition: 150ms ease-in-out;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1) translateX(-5px);
                    }
                    .chef-image {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50%;
                    }

                    .chef {
                        display: flex;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
            .title {
                text-align: center;
                font-size: 2em;
            }
        }

        .food-search {
            height: 100px;
            width: auto;
            border-radius: 5px;
        }

        #search-container-users {
            background-color: white;
            width: 15%;
            border-radius: 5px;
            background-color: #ecececd5;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title {
                font-size: 2em;
                text-align: center;
            }

            .user-wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: black;

                .img-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                    transition: 200ms ease;
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        object-position: center;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .avatar-search {
        height: 90px;
        width: auto;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }

    .search-form-mini {
        display: flex;
        align-items: center;
        justify-content: flex-startr;
        padding: 5px;
        gap: 10px;

        input[type="text"] {
            padding: 5px;
            &:focus {
                outline: none;
            }
        }

        .search-btn {
            cursor: pointer;
            font-size: 1em;
            padding: 5px;
            border: none;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 3px black;
            border-radius: 2px;
            transition: 200ms ease-in-out;
            &:hover {
                background-color: #36312e;
                color: white;
                cursor: pointer;
            }
        }
    }
}
