#search-body {
  background-image: url("/assets/first.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  #inner-wrapper {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;

    #search-container-recipes {
      width: 65%;
      display: flex;
      flex-direction: column;

      background-color: #ecececd5;

      padding: 10px;
      border-radius: 5px;
      height: auto;

      .recipe {
        border-radius: 2px;
        padding: 10px;
        margin: 5px;
        width: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1%;
        box-shadow: grey 1px 1px 1px 1px;

        .name-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          .name {
            text-decoration: none;
            color: black;
            cursor: pointer;
            font-size: 1.2em;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            transition: 150ms ease-in-out;
            padding: 5px;

            &:hover {
              color: rgb(129, 129, 129);
              transform: scale(1.1) translateY(-0.2px);
              text-shadow: #404040;
              p.p-search {
                align-items: center;
              }
            }
          }
        }

        .chef {
          display: flex;
          color: black;
          transition: 150ms ease-in-out;
          text-decoration: none;
          &:hover {
            color: rgb(129, 129, 129);
            transform: scale(1.1) translateY(-0.2px);
            text-shadow: #404040;
          }
        }
      }
      .title {
        text-align: center;
        font-size: 2em;
      }
    }

    #search-container-users {
      background-color: white;
      width: 15%;
      border-radius: 5px;
      background-color: #ecececd5;
      padding: 10px;
      flex-direction: column;
      .title {
        font-size: 2em;
        text-align: center;
      }
    }
    .food-search {
      height: 100px;
      width: auto;
      border-radius: 5px;
    }
    .img-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 20px;
    }
    .search-btn {
      cursor: pointer;
    }
  }

  img {
    height: 90px;
    width: auto;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
  }
  .user-wrapper {
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .users-search {
    text-decoration: none;

    color: black;
    transition: 150ms ease-in-out;
    &:hover {
      color: rgb(129, 129, 129);
      transform: scale(1.1) translateY(-0.2px);
      text-shadow: #404040;
    }
  }
  .search-form-mini {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    column-gap: 20px;
    .users-search {
      display: flex;
      align-items: center;
    }
  }
}

.search-btn {
  font-size: 1em;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  transition: 200ms ease-in-out;
  &:hover {
    background-color: #36312e;
    color: white;
    cursor: pointer;
  }
}
