#single-recipe-body {
    flex-grow: 1;

    background-image: url("https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;

    main {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;

        #wrapper {
            flex-grow: 1;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            box-shadow: 0px 0px 20px rgb(117, 117, 117);
            width: 60%;
            background-color: rgba($color: #ffffff, $alpha: 0.8);
            padding-bottom: 3em;

            display: flex;
            flex-direction: column;
            align-items: center;

            .divider {
                height: 2px;
                width: 90%;
                background-color: rgb(81, 70, 55);
                margin: 20px;
                border-radius: 5px;
            }

            #recipe-header {
                width: 90%;
                padding: 20px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                #title {
                    font-size: 2em;
                }
                #rating {
                    font-size: 1em;
                }
            }
            #recipe-body {
                flex-grow: 1;
                width: 90%;
                min-height: 50vh;

                display: flex;
                flex-direction: row;
                gap: 20px;

                span {
                    font-size: 0.9em;
                }

                #left,
                #middle,
                #right {
                    padding: 5px;
                    border: 1px solid black;
                    background-color: white;
                    box-sizing: border-box;
                }

                #left {
                    padding: 10px;
                    ul {
                        list-style: circle;
                        margin-top: 10px;
                        padding-left: 20px;
                    }
                    ul > li {
                        padding: 2px;
                        font-size: 0.7em;
                        word-spacing: 10px;
                        color: rgb(88, 82, 76);
                    }
                }
                #middle {
                    flex-grow: 1;
                    padding: 10px;

                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    #middle-left {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;

                        textarea {
                            font-family: "Arvo", serif;
                            font-size: 0.7em;
                            padding: 5px;
                            flex-grow: 1;
                            resize: none;
                            border: none;
                        }
                    }
                    #middle-seperator {
                        background-color: rgb(88, 78, 69);
                        width: 1px;
                    }
                    #middle-right {
                        width: 30%;
                        display: flex;
                        flex-direction: column;

                        ul {
                            list-style: circle;
                            margin-top: 5px;
                            padding-left: 20px;
                        }
                        ul > li {
                            padding: 2px;
                            font-size: 0.7em;
                            color: rgb(88, 82, 76);
                        }
                    }
                }
                #right {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    #chef-img-wrapper {
                        padding-left: 20px;
                        padding-right: 20px;
                        width: 80px;
                        img {
                            width: 100%;
                        }
                    }
                    #chef-name {
                        font-size: 0.7em;
                    }
                }
            }
            #recipe-footer {
                margin-top: 10px;
                form {
                    display: flex;
                    gap: 30px;

                    input {
                        border: none;
                        padding: 10px;
                        border-radius: 2px;
                        background-color: rgb(238, 224, 214);
                        cursor: pointer;
                        transition: 0.2s ease;
                    }

                    input:hover {
                        transform: scale(1.1);
                        color: white;
                        background-color: rgb(72, 66, 62);
                    }
                }
            }
            #new-comment-wrapper {
                width: 90%;
                display: flex;
                flex-direction: column;
                span {
                    padding-bottom: 5px;
                    font-size: 1em;
                }
                #new-comment-form {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    textarea {
                        flex-grow: 1;
                        resize: none;
                        font-size: 0.9em;
                        padding: 5px;
                        min-height: 90px;
                        &:focus {
                            outline: none;
                        }
                    }

                    input[type="submit"] {
                        font-size: 1em;
                        // border: 1px solid rgb(66, 58, 55);
                        border: none;
                        background-color: rgb(255, 246, 235);
                        box-shadow: 0px 0px 3px black;
                        border-radius: 5px;
                        transition: 200ms ease-in-out;
                        height: 100px;
                        width: 100px;

                        &:hover {
                            background-color: #36312e;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            #recipe-comments {
                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .comment {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .comment-user-info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .img-wrapper {
                            width: 50px;
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }

                    .comment-text-wrapper {
                        form {
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            textarea {
                                padding: 10px;
                                flex-grow: 1;
                                resize: none;
                                font-family: "Arvo", serif;
                                font-size: 0.8em;
                                box-shadow: 0px 0px 10px
                                    rgba(150, 149, 149, 0.449);
                            }

                            input {
                                cursor: pointer;
                            }

                            .enter-edit {
                                display: block;
                                width: 60px;
                                font-size: 0.7em;
                            }
                            .finish-edit {
                                display: none;
                                width: 60px;
                            }
                        }
                    }
                }
            }
        }
    }

    #recipe-data {
        display: none;
    }
}
