@use "createRecipe";
@use "singleRecipe";
@use "header";
@use "home";
@use "CreateUser";
@use "EditUserInfo";
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  font-size: 12pt;
  height: 100%;

  display: flex;
  flex-direction: column;
}
