@use "CreateRecipe";
@use "SingleRecipe";
@use "header";
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arvo", serif;
    font-size: 12pt;
    height: 100%;

    display: flex;
    flex-direction: column;
}
