@use "createRecipe";
@use "singleRecipe";
@use "header";
@use "footer";
@use "home";
@use "CreateUser";
@use "EditUserInfo";
@use "profilePage";
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arvo", serif;
    font-size: 12pt;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#js-data {
    display: none;
}

#transition-animation {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    pointer-events: none;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.fade-in {
    animation: fade-in 200ms ease;
    opacity: 1;
}

.fade-out {
    animation: fade-out 200ms ease;
    opacity: 0;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
